@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Outfit:wght@100;500&family=Raleway:wght@700&family=Rubik:ital@1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global styles */
* {
  background-color: #014749;
  color: #db4f4f;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Add this line to disable scrolling */
}

/* Container styles */
.App {
  border: 4px solid #db4f4f;
  margin: 20px;
  height: 675px;
  display: flex;
  flex-direction: row;
}

/* Left screen styles */
#left-screen {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* Logo and timer styles */
#logo-and-timer {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 50%;
  border-right: 4px solid #db4f4f;
}

/* Team and point tracker styles */
#team-and-point-tracker {
  flex: 1;
  border-bottom: 4px solid #db4f4f;
  border-right: 4px solid #db4f4f;
}

/* Logo styles */
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 4px solid #db4f4f;
  width: 25%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  font-size: 48px;
}

/* Middle screen styles */
#middle-screen {
  width: 55%;
  display: flex;
  position: relative;
}

/* Right screen styles */
#right-screen {
  display: flex;
  flex-direction: column;
  width: 20%;
}

/* Restart button styles */
#restart {
  border-left: 4px solid #db4f4f;
  height: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Play button styles */
#play {
  border-left: 4px solid #db4f4f;
  height: 75%;
  flex: 1;
  border-top: 4px solid #db4f4f;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Paragraph and header styles */
p, h1 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

/* Timer styles */
#timer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  flex-direction: column;
  position: relative;
}

#timer > p, #categories > div > input {
  border-style: none;
  margin: auto;
  align-self: flex-start;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.input > p {
  font-size: 80px;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

i {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#category-name {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 60px;
  left: 50%;
  text-align: center;
}

/* Table styles */
table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

tbody td {
  text-align: center;
}

/* thead > tr > th {
  padding-top: 5%;
} */

th {
  border-bottom: 3px dashed #db4f4f;
}

td {
  font-size: 80px;
}

th:first-child, td:first-child {
  border-right: 3px dashed #db4f4f;
}
#team-names-form {
  display: flex;
  flex-direction: column;
}
form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
button, input[type='submit'] {
  color: #014749;
  background-color: #db4f4f;
  padding: 1% 3%;
  font-size: 40px;
}
input[type='submit'] {
  margin-top: 5%;
  font-size: 25px;
}
#select-round-winner {
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  font-size: 40px;
}
h2 {
  text-align: center;
  padding-bottom: 5%;
}
#teams-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25%;
  align-items: center;
  height: 100%;
}
.input {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.input > i:first-of-type {
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 20%;
}
.input > i:last-of-type {
  font-size: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 80%;
}