@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Outfit:wght@100;500&family=Raleway:wght@700&family=Rubik:ital@1&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global styles */
* {
  background-color: rgb(114, 199, 222);
  color: rgb(24, 48, 103);
  font-weight: 700;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Container styles */
.App {
  border: 4px solid rgb(24, 48, 103);
  margin: 20px;
  height: 675px;
  display: flex;
  flex-direction: row;
}

/* Left screen styles */
#left-screen {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/* Logo and timer styles */
#logo-and-timer {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 50%;
  border-right: 4px solid rgb(24, 48, 103);
}

/* Team and point tracker styles */
#team-and-point-tracker {
  flex: 1;
  border-bottom: 4px solid rgb(24, 48, 103);
  border-right: 4px solid rgb(24, 48, 103);
}

/* Logo styles */
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 4px solid rgb(24, 48, 103);
  width: 25%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  font-size: 48px;
}

/* Middle screen styles */
#middle-screen {
  width: 55%;
  display: flex;
  position: relative;
}

/* Right screen styles */
#right-screen {
  display: flex;
  flex-direction: column;
  width: 20%;
}

/* Restart button styles */
#restart {
  border-left: 4px solid rgb(24, 48, 103);
  height: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Play button styles */
#play {
  border-left: 4px solid rgb(24, 48, 103);
  height: 75%;
  flex: 1;
  border-top: 4px solid rgb(24, 48, 103);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Paragraph and header styles */
p, h1 {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

/* Timer styles */
#timer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  flex-direction: column;
  position: relative;
}

#timer > input, #timer > p, #categories > div > input {
  border-style: none;
  margin: auto;
  align-self: flex-start;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

i {
  font-size: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#category-name {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  font-size: 60px;
  left: 50%;
  text-align: center;
}

/* Table styles */
table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

tbody td {
  text-align: center;
}

thead > tr > th {
  padding-top: 5%;
}

th {
  border-bottom: 3px dashed rgb(24, 48, 103);
}

td {
  font-size: 80px;
}

th:first-child, td:first-child {
  border-right: 3px dashed rgb(24, 48, 103);
}
#team-names-form {
  display: flex;
  flex-direction: column;
}
form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

}
